:root {
    --main-bg-color: #f28c28;
    --light-bg-color: #ffac1c;
    --dark-bg-color: #a52a2a;
    --dark-color: black;
    --light-color: aliceblue;
  }

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#informer {
    width: 80%;
    padding: 0.9375em 0.9375em /* 15px 15px */;
    border: none;
    color: var(--dark-color);
    font-weight: normal;
    font-size: 1.25rem /* 20px */;
    text-align: center;
    line-height: 1.5;
}

#circle-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: var(--dark-color) 2px solid;
    margin: 10px 10px;
    display: none;
}

#guesser {
    width: 9.375em /* 150px */;
    padding: 0.625em 0.625em  /* 10px 10px */;
    margin: 1.875em 0/* 30px 0 */; 
    font-size: 1.25rem /* 20px */;
    text-align: center;
    cursor: pointer;
}

#guesser {
    color: var(--main-bg-color);
    border: var(--main-bg-color) 2px solid;
    background-color: var(--light-color);
}

#guesser:hover {
    color: var(--light-bg-color);
    border: var(--light-bg-color) 2px solid;
}

#restarter {
    width: 9.375em /* 150px */;
    padding: 0.625em 0.625em  /* 10px 10px */;
    margin: 0 0/* 0 0 */; 
    font-size: 1.25rem /* 20px */;
    text-align: center;
    cursor: pointer;
}

#restarter {
    color: var(--dark-bg-color);
    border: var(--dark-bg-color) 2px solid;
    background-color: var(--light-color);
}

#restarter:hover {
    color: var(--dark-color);
    border: var(--dark-color) 2px solid;
}

#counter {
    width: 9.375em /* 150px */;
    padding: 0.9375em 0.9375em /* 15px 15px */;
    background-color: var(--main-bg-color);
    color: var(--dark-color);
    border: var(--dark-color) 2px solid;
    border-radius:  1.25em /* 20px */;
    font-weight: bolder;
    font-size: 1.25rem /* 20px */;
    text-align: center;
}

#answer {
    width: 80%;
    padding: 0.625em 0.625em  /* 10px 10px */;
    border: none;
    color: var(--dark-color);
    font-weight: bolder;
    font-size: 1.25rem /* 20px */;
    text-align: center;
}

#button-container {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    align-content: center;
    justify-self: center;
    gap: 20px;
}

#colors-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

#colors {
    font-size: 1.5rem /* 24px */;
    width: 3rem;
}

@media (max-width: 600px) {
    #informer {
        margin: 0;
    }

    #circle-container {
        grid-template-columns: auto auto; /* 2 columns */
    }
}
